@model IEnumerable<BostreamWeb.Models.TaskViewModel>
@if (Session["username"] != null)
{
<h2 class="center">Tareas</h2>
    if (Model != null)
    {
        <div class="container body-content">
            <table class="centered highlight centered highlight responsive-table striped" style="margin-top:5%;">
                <thead class="z-depth-1">
                    <tr class="">
                        <th>Cliente: </th>
                        <th>Titulo: </th>
                        <th>Fecha Limite: </th>
                        <th>Descripción:</th>
                        <th>Prioridad:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.TaskTitle</td>
                            <td>@item.Deadline</td>
                            <td>@item.Description</td>
                            <td>@item.Priority</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
@if (Session["username"] == null)
{
    Response.Redirect("~/Admin/Denied");
}
