<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="Public/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Bostream</title>
    <link rel="stylesheet" href="~/Public/css/materialize.min.css">
    @RenderSection("CSS", required: false)
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
    </div>
        <hr />
    @Html.Partial("_Footer")

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
<script src="~/Public/js/materialize.min.js"></script>
</html>
