<nav>
    <div class="nav-wrapper orange darken-4">
        <a> @Html.ActionLink("Bostream", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>@Html.ActionLink("¿Quiénes Somos?", "Index", "Home")</li>
            <li>@Html.ActionLink("Servicios", "ServiceList", "Service")</li>
            <li>@Html.ActionLink("Trabajos", "WorkGallery", "Work")</li>
            <li>@Html.ActionLink("Contáctenos", "InformationForm", "Information")</li>
        </ul>
    </div>
    <div class="nav-wrapper orange darken-4">
        <a> @Html.ActionLink("Bostream", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>@Html.ActionLink("Nuevo Contacto", "", "")</li>
            <li>@Html.ActionLink("Nueva Tarea", "", "")</li>
            <li>@Html.ActionLink("Mis Contactos", "CustomerView", "Customer")</li>
            <li>@Html.ActionLink("Crear Cotización", "", "")</li>
            <li>@Html.ActionLink("Cerrar Sesión", "", "")</li>
        </ul>
    </div>
</nav>

