<nav>
    <div class="nav-wrapper orange darken-4">
        <a> @Html.ActionLink("Bostream", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>@Html.ActionLink("¿Quienes Somos?", "Index", "Home")</li>
            <li>@Html.ActionLink("Servicios", "ServiceList", "Service")</li>
            <li>@Html.ActionLink("Trabajos", "", "Home")</li>
            <li>@Html.ActionLink("Contactenos", "InformationForm", "Information")</li>
        </ul>
    </div>
</nav>

